@model CoffeeShop.Models.RegisterModel

@{
    ViewBag.Title = "Registration Form";
}

<h2>User Registration</h2>

@using (Html.BeginForm("Registration", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <fieldset class="mt-4">
        <legend class="w-auto">Details</legend>
        <div class="form-group required">
            <label class='control-label'>First Name</label>
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", type = "text", required = "required", placeholder = "Enter First Name" })
        </div>
        <div class="form-group required">
            <label class='control-label'>Last Name</label>
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", type = "text", required = "required", placeholder = "Enter Last Name" })
        </div>
        <div class="form-group required">
            <label class='control-label'>Address</label>
            @Html.TextBoxFor(model => model.Address, new { @class = "form-control", type = "text", required = "required", placeholder = "Enter Address" })
        </div>
        <div class="form-group required">
            <label class='control-label'>Email</label>
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", type = "email", required = "required", placeholder = "Enter Email" })
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group required">
            <label class='control-label'>Phone Number</label>
            @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", id = "phone", type = "tel", required = "required", placeholder = "Enter Phone Number" })
            <p id="phoneAlert" class="text-danger"></p>
        </div>
    </fieldset>

    <div class="form-group mt-2">
        <label>Favorite Drink</label>
        @Html.DropDownListFor(model => model.FavoriteDrink, new List<SelectListItem>
            { new SelectListItem{Text="Coffee", Value="Coffee"},
              new SelectListItem{Text="Tea", Value="Tea"}},
            "Please select", new { @class = "form-control"})
    </div>

    <fieldset class="mt-4">
        <legend>Log-in Information</legend>
        <div class="form-group required">
            <label class='control-label'>Password</label>
            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", type = "password", required = "required", placeholder = "Create Password" })
        </div>
        <div id="passwordInfo">
            <p>Password must meet the following requirements:</p>
            <ul>
                <li id="letter" class="text-danger">At least one letter</li>
                <li id="capital" class="text-danger">At least one capital letter</li>
                <li id="number" class="text-danger">At least one number</li>
                <li id="length" class="text-danger">Have at least 8 characters</li>
            </ul>
        </div>
    </fieldset>
    <br />
    <div>
        <p class="text-muted">Note: Fields noted with an asterisk are required</p>
    </div>

    <input type="submit" value="Register" class="btn btn-info btn-lg" id="register_submit" />
}

<script type="text/javascript" src="~/Scripts/Register.js"></script>

