@model CoffeeShop.Models.FormData

@{
    ViewBag.Title = "Registration Form";
}

<h2>Registration Page</h2>

@using (Html.BeginForm("RegistrationForm", "Form", FormMethod.Post))
{
    @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
    @Html.TextBoxFor(model => model.FirstName)
    @Html.TextBoxFor(model => model.LastName)
    @Html.TextBoxFor(model => model.Address)
    @Html.TextBoxFor(model => model.Email)
    @Html.TextBoxFor(model => model.PhoneNumber)
    @Html.TextBoxFor(model => model.FavoriteDrink)
    @Html.TextBoxFor(model => model.Username)
    @Html.TextBoxFor(model => model.Password)

    <input type="submit" value="Register" />
}

